@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 500px;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
}

td, th{
    border: 1px solid black;
}

td{
    padding: 4px;
}

th{
    border: 2px solid black;
}

thead th{
    background-color: gray;
    color: white;
    padding: 3px;
}


.tipo{
    background-color: gray;
    color: white;
    text-align: left;
    padding-left: 3px;
}

.num1{
    background-color: gray;
    color: white;
    text-align: center;
    border: 2px solid black;
}

.mat{
    text-align: left;
}